* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  width: 1500px;
  grid-template-columns: repeat(19, 1fr);
  column-gap: 5px;
  row-gap: 5px;
}

.table-cell div > div {
  padding: 13px;
}


.table-cell {
  display: flex;
  flex-direction: column;
  height: 65px;
  background-color: rgb(161, 161, 211);
}

.cell-mid {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

body {
  background-color: black;
  color: white;
}

/* Color Classes */

.green {
  background-color: rgb(12, 92, 61);
}

.red-purple {
  background-color: rgb(135, 11, 85);
}
.blue {
  background-color: rgb(12, 68, 125);
}

.lavender {
  background-color: rgb(88, 52, 118);
}

.red {
  background-color: rgb(149, 11, 42);
}

.brown {
  background-color: rgb(142, 69, 15);
}

.light-blue {
  background-color: rgb(12, 96, 128);
}

.lime {
  background-color: rgb(36, 102, 15);
}
